h1 {
  font-family: "The Nautigal", cursive;
  padding-top: 15px;
  font-size: 65px;
  position: relative;
}

h2 {
  font-size: 70px;
  font-family: "Open Sans Condensed", sans-serif;
}
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
}
label {
  padding-top: 20px;
}
ul {
  margin-bottom: 120px;
}

.container {
  border-radius: 2%;
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
  display: block;
  border: 3px;
  height: 640px;
  margin-top: 40px;
  position: relative;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/026/848/original/pexels-photo-844297.jpeg?1644363606");
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}
.picture {
  object-fit: cover;
}
.weather {
  font-size: 35px;
}
.icons {
  margin: 0 auto;
  padding: 0%;
}
.units {
  font-size: 19px;
  position: relative;
  top: -12px;
}
.source {
  text-align: left;
  color: black;
  margin-top: 5px;
}
