h1 {
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 15px;
  font-size: 35px;
  position: relative;
}

h2 {
  font-size: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}
h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bolder;
}
h4 {
  font-family: "Montserrat Alternates", sans-serif;
}
label {
  padding-top: 20px;
}
ul {
  margin-bottom: 120px;
}
li {
  list-style-type: none;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/027/483/original/pexels-pok-rie-139975.jpg?1645212147");
}
a {
  color: white;
  text-decoration: none;
  cursor: default;
}
.container {
  border-radius: 2%;
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
  display: block;
  border: 1px solid;
  height: 690px;
  margin-top: 40px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
.picture {
  object-fit: cover;
}
.weather {
  font-size: 35px;
}
.icons {
  margin: 0 auto;
  padding: 0%;
}
.temperature {
  position: relative;
  left: 32px;
}
.units {
  font-size: 19px;
  position: relative;
  top: -35px;
  left: 15px;
}
.source {
  color: WHITE;
  text-align: center;
}
.information {
  margin-top: -80px;
  margin-left: 260px;
}
.newRow {
  width: 100%;
  display: table;
}
.newRow .col {
  display: table-cell;
  vertical-align: middle;
  float: none;
  font-weight: bolder;
}
.boxpic {
  position: relative;
  top: -05px;
  left: -55px;
}

.weather-min {
  color: rgb(194, 190, 190);
}
.row {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bolder;
}
