h1 {
  color: black;
  font-family: "The Nautigal", cursive;
  padding-top: 15px;
}

h2 {
  font-size: 150px;
  font-family: "Open Sans Condensed", sans-serif;
}
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 110px;
  padding-bottom: 75px;
}
label {
  padding-top: 20px;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
  display: block;
  border: 3px;
  border-color: black;
  background-color: rgba(199, 242, 247, 0.5);
  width: 300px;
  height: 500px;
  margin-top: 45px;
}
.weather {
  font-size: 35px;
}
.icons {
  margin: 0 auto;
  padding: 0%;
}
.units {
  font-size: 19px;
  position: relative;
  top: -12px;
}
.source {
  text-align: left;
}
